<script type="text/x-template" id="quarter-wise-companies">
    <table class="ui celled table">
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                [[ key | title ]]
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredCompanies">
            <td v-for="key in columns">
                [[ entry[key] ]]
            </td>
        </tr>
        </tbody>
    </table>

</script>